# There is no way to verify bank statement for payment methods

`@/app/dashboards/employee-dashboard/payment-methods` 
When an employee uploads a bank statement as proof so as to use as a payment method, there is no way to verify it in the admin side. Hence the employee can't use it when requesting for an advance