I was thinking about the following products from the sign-off:



1. Inter-Bank transfers

2. Payments to Stanbic Accounts 

3. STK Push - M-Pesa Checkout API

4. Transaction Notification API

5. Account Statements API





Even though it will mean expanding the `client.ts` file, and bringing Pesalink in the mix.